.group-boad {
  // background-color: red;
}

.group-box {
  background-color: #026aa7;
  color: white;
  margin-right: 10px;
  .group-name {
    
  }
}

.creategroup-box {
  background-color: #091e420a;
  color: white;
  margin-right: 10px;
  .group-name {
    
  }
}