<div class="group-boad p-3">
  <h3 class="boad-title">グループボード</h3>
  <div class="container-fluid">
    <div class="row">
      <% current_user.groups.each do |group| %>
        <%= link_to group_path(group) do %>
          <div class="group-box col-3 p-3">
            <div class="group-name"><%= group.name %></div>
            <div class="group-contents"></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
