.taskdetailPage {
  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  h2 {
    font-size: 16px;
    font-weight: 600;
  }

  .task {
    margin: 60px auto 0;
    max-width: 600px;
    &_name {
      margin-bottom: 30px;
    }
    &_projectname {
      color: #5e6c84;
      margin-bottom: 30px;
    }
    &_content, &_time_limit, &_priority_id, &_create_user_id{
      
      margin-bottom: 60px;
    }
  }
}

.Heading {
  display: flex;
}

.fas {
  margin-right: 20px;
}